# Flask secret key
SECRET_KEY=topsecret

# User credentials (dummy hashes for example only)
USER_1_NAME=user_1
USER_1_PASSWORD=scrypt:32768:8:1$dummy1$dummyhash1
USER_2_NAME=user_2
USER_2_PASSWORD=scrypt:32768:8:1$dummy2$dummyhash2
USER_3_NAME=user_3
USER_3_PASSWORD=scrypt:32768:8:1$dummy3$dummyhash3

# LLM Information
LLM_PROVIDER=gemini
LLM_MODEL_NAME=gemini-1.5-flash
GEMINI_API_KEY=AIzaSyCqRwNY476OHUViwX15XNey8u97d2arM4Y